@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome</h1>
    <h2 class="display-4">Widget hunter this is the place to get your Widget obsession fulfilled.</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="~/images/download.png" alt="Avatar" style="max-height: 200px; width:100%">
                <div class="container">
                    <h4><b>Product 1</b></h4>
                    <p>Lorem ipsum dolor sit amet, fuisset gloriatur deseruisse mea te, ornatus ceteros sed eu. Sed ne quod putant animal, est erat mutat ne. Sea ea falli doctus, duo fabulas pertinacia ex. Quod conceptam duo eu, ea affert noluisse persequeris cum. Dicta oblique labitur id sea.</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="~/images/download.png" alt="Avatar" style="max-height: 200px; width:100%">
                <div class="container">
                    <h4><b>Product 2</b></h4>
                    <p>Lorem ipsum dolor sit amet, fuisset gloriatur deseruisse mea te, ornatus ceteros sed eu. Sed ne quod putant animal, est erat mutat ne. Sea ea falli doctus, duo fabulas pertinacia ex. Quod conceptam duo eu, ea affert noluisse persequeris cum. Dicta oblique labitur id sea.</p>
                </div>
            </div>
        </div>

        <div class="col-6" style="padding:10px">
            <div class="card">
                <img src="~/images/download.png" alt="Avatar" style="max-height: 200px; width:100%">
                <div class="container">
                    <h4><b>Product 3</b></h4>
                    <p>New product comming fall 2019!</p>
                </div>
            </div>
        </div>

        <div class="col-6" style="padding:10px">
            <div class="card">
                <img src="~/images/download.png" alt="Avatar" style="max-height: 200px; width:100%">
                <div class="container">
                    <h4><b>Product 3</b></h4>
                    <p>Another new product comming fall 2019!</p>
                </div>
            </div>
        </div>

    </div>


</div>
